extends layout 

block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    h1= title
    p Viewing single employee 
    
        form
            div
                label(for="id") Employee ID
                input(type="text", name="id", disabled, id="id", value= employee.id)
            div 
                label(for="firstName") First Name 
                input(type="text", name="firstName", disabled, id="firstName", value= employee.firstName)
            div 
                label(for="lastName") Last Name 
                input(type="text", name="lastName", disabled, id="lastName", value= employee.lastName)
            div 
                label(for="email") Email
                input(type="email", name="firstName", disabled, id="email", value= employee.email)
            div 
                label(for="notes", id="note") Notes
                textarea(name="notes", disabled, id="notes", rows="3")= employee.notes
            
            a(href='/employees/') Back
