extends layout

block content
  h1 Login 
  form(action="/login/password", method="POST", class="form")
    section 
      label(for="email") Email 
      input(type="email", name="email")
    section 
      label(for="password") Password 
      input(type="password", name="password")
    button(type="submit", class="signin") Sign In
    a(href="/login/federated/google", class="google") Sign in with Google 
    a(href="/signup", class="signup") Sign Up 