body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fcaedb;
}

a {
  color: #00B7FF;
}
 
h1 {
  text-align: center;
 }

 p {
  font-size: 18px;
 }

 .button {
  cursor: pointer;
  color: white;
  background-color: #20d666;
  padding: 15px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
 }
