* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fcaedb;
}

a {
  color: #00B7FF;
}
 
h1 {
  text-align: center;
 }

 p {
  font-size: 18px;
  text-align: center;
 }

 .button {
  cursor: pointer;
  color: white;
  background-color: #20d666;
  padding: 15px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
 }
 
.form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background-color: #D3D3D3;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

form {
  text-align: left;
  font-size: 16px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

input[type=text] {
  padding: 5px;
  margin: 10px 0;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 5px;
  width: 50%;
}

input[type=email] {
  padding: 5px;
  margin: 10px 20px;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 5px;
  width: 50%;
}

textarea {
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 5px;
  margin: 10px 0;
  width: 50%;
  line-height: 1.5;
  overflow: auto;
}

#note {
  margin-right: 20px;
}

#cancel {
  text-decoration: none;
  background-color: #e61e10;
  cursor: pointer;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
}

.tableContent {
  max-width: 800px;
  height: 400px;
  background-color: #D3D3D3;
}

table {
  border-collapse: collapse;
}

thead th {
  width: 35%;
}

th {
  font-size: 18px;
  padding: 5px;
  border: 1px solid;
}

td {
  font-size: 14px;
  padding: 5px;
  font-weight: normal;
  border: 1px solid;
}

.actions {
  text-decoration: none;
  padding: 2px;
}

#view {
  color: #ebe30c;
}

#edit {
  color: #0c69eb;
}

#delete {
  color: #e61e10
}

label {
  margin: 5px;
}