extends layout

block content
    h1= title
    p Please enter your information below 
        if message 
            ul 
                each value in message 
                    li=value.msg 

    form(method='POST', action='/contacts/add')
        div
            div
                label(for="firstName") First Name 
                input(type="text", required, name="firstName", placeholder="First Name")
            div    
                label(for="firstName") Last Name 
                input(type="text", required, name="lastName", placeholder="Last Name")
            div    
                label(for="email") Email
                input(type="email", required, name="email", placeholder="Email")
            div    
                label(for="notes") Notes
                textarea(name="notes", rows="3" placeholder="Notes")
            
            button(type="submit") Submit
            a(href='/contacts/') Cancel


